<%= simple_form_for @auction do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :current_price %>
  <%= f.input :end_date , {class: "inner-addon left-addon glyphicon glyphicon-calendar"}%><i class="glyphicon glyphicon-calendar"></i>


  <!-- <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="end_date"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script> -->


  <%= f.input :reserve_price, as: :integer %>
  <%= f.submit 'Save', class: "btn btn-primary" %>
<% end %>
