<h1>Create a new User</h1>

<!-- first_name, last_name, email, password_digest -->

<%= simple_form_for(@user) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit %>
<% end %>
