<!DOCTYPE html>
<html>
  <head>
    <title>Biddr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <% if flash[:notice] %>
      <div class="alert alert-success flash-notice flashNotice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
      <div class="alert alert-danger flash-alert flashNotice"><%= flash[:alert] %></div>
      <%= notice || alert %>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
